.picFigure {
  width: 20%;
  height: auto;
}

img {
  width: 30%;
  /*height: 100%;*/
}

.vs {
  display: inline;
  margin-left: 10%;
  font-size: 4em;
}


.pics {
  width: 60%;
  margin: auto;
}

.media {
  margin-left:  9%;
}